<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% block content %}
  <h1>Pecha Ai</h1>
  <p>
    A small tool to generate pecha kucha presentations using ai generated images.<br/>
    Just input the slides text content you wish and we will do everything for you
  </p>
     <div class="container">
      <div class="jumbotron">
        <h1>Generate your presentation</h1>
        <p>Generate your pechakucha presentation using the form below:</p>
      </div>
   <div class="col-md-12">
    <form method="POST" action="/kucha">
    {{ form.csrf_token }}
    {{ form.title.label }} {{ form.title(size=20) }}<br/>
    {{ form.slide_duration.label }} {{ form.slide_duration(default=20) }} s<br/>
    {{ form.inputs.label }} {{ form.inputs(size=200) }}<br/>

    {{ form.ai_choice.label }} {{ form.ai_choice }}<br/>
    {{ form.do_query.label }} {{ form.do_query }}<br/>
    <input type="submit" value="Generate the presentation">

    {% if form.title.errors %}
      <ul class="errors">
        {% for error in form.title.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if form.inputs.errors %}
      <ul class="errors">
        {% for error in form.inputs.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}

</form>
  </div>
{% endblock %}
